td,th{
	border:1px solid black;
	text-align:center;
	padding:0.3em;
}
td.empty{
	border:1px dotted grey;
}
table{
	margin:1em;
	border:1px solid black;
}
tr.para_8-00>td{
	border-top:double black 3px;
}
.jqplot-target{
	margin-bottom:77px;
}
h3,h2{
	margin-top:100px;
}
