td,th{
	border:1px solid black;
	text-align:center;
	padding:0.3em;
}
td.empty{
	border:1px dotted grey;
}
table{
	margin:1em;
	border:1px solid black;
}
tr.para_8-00>td{
	border-top:double black 3px;
}
.jqplot-target{
	margin-bottom:77px;
}
.x-scroll{
	overflow-x:scroll;
	overflow-y:hidden;
	padding-top:25px;
	padding-bottom:25px;
	width:95%;
}
h3,h2{
	margin-top:100px;
}
#jqplot-pary-po-dnyam{
	width:95%;
}
#pleasewait{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	background-color:grey;
	height:77px;
	font-size:2em;
	text-align:center;
	border-radius:21px;
	vertical-align:middle;
	padding-top:20px;
}
.A4{
	max-width:17cm;
}
